In [17]:
course= input("Enter the course name")
if course == "python":
    print("Wellcome to python")
else:
    print("Sorry not intrested")

Sorry not intrested

In [29]:

a=4
b=5
print(f"addition: {a+b}")
print("sub:", {a-b})
print(a*b)

addition: 9
sub: {-1}
20

In [30]:
width=50
height=25
len=width*height
print(len)

1250

In [38]:
tax=12.5/100
price=100.50
x=price*tax
price+x

113.0625

In [40]:
word="python"
word[0]
word[-1]

'n'

In [41]:
square=[1,4,9,16,25]
square[-3:]

[9, 16, 25]

In [46]:
a,b=0,1
while a<10:
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8

In [48]:
temp=int(input("Please enter the temp"))
if temp >35:
    print("The weather is too hot")
elif temp >=20:
    print("The weather is normal")
else:
    print("Cool Weather enjoy it")

Cool Weather enjoy it

In [54]:
words=["jaya","manu","dhara","saba"]
for w in words:
    print(w)

jaya
manu
dhara
saba

In [57]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'inactive'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]
        print(users)

{'Hans': 'active', '景太郎': 'inactive'}
{'Hans': 'active'}

In [63]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'inactive'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]
print(users)

{'Hans': 'active'}

In [64]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nagal\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\nagal\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.5 MB 5.1 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.5 MB 5.5 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/11.5 MB 4.7 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 4.3 MB/s eta 0:00:02
   ------------ --------------------------- 3.7/11.5 MB 3.8 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 3.9/11.5 MB 3.4 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.5 MB 3.2 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.5 MB 3.3 MB/s eta 0:00:02
   ------------------------- -------------- 7.3/11.5 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 8.4/11.5 MB 3.8 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.5 MB 3.9 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.5 MB 4.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 4.2 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/12.6 MB 6.2 MB/s eta 0:00:02
   ------- -------------------------------- 2.4/12.6 MB 6.4 MB/s eta 0:00:02
   ----------- ---------------------------- 3.7/12.6 MB 6.2 MB/s eta 0:00:02
   -------------- ------------------------- 4.7/12.6 MB 6.3 MB/s eta 0:00:02
   ------------------- -------------------- 6.0/12.6 MB 5.9 MB/s eta 0:00:02
   ---------------------- ----------------- 7.1/12.6 MB 6.0 MB/s eta 0:00:01
   -------------------------- ------------- 8.4/12.6 MB 6.0 MB/s eta 0:00:01
   ------------------------------- -------- 10.0/12.6 MB 6.1 MB/s eta 0:00:01
   ---------------------------------- ----- 10.7/12.6 MB 6.0 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 5.7 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\nagal\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [112]:
import pandas as pd

In [137]:
df=pd.read_csv(r"c:\Users\nagal\oneDrive\Desktop\data Analysis\Tableau\new_york.csv")
#Finding the mean of price column
print(df['price'].mean())
#filling the mean value with the missing in price column
df['price'].fillna(df['price'].mean(),inplace=True)
#filling the 0 with the missing values in mimimum_nights column
df['minimum_nights'].fillna(0,inplace=True)
#print the top 20 values of updated price and min_nights columns
print(df['price'].head(20),df['minimum_nights'].head(20))

145.45752895752895
0     225.000000
1      89.000000
2     200.000000
3      60.000000
4      79.000000
5     150.000000
6      85.000000
7      89.000000
8     120.000000
9     145.457529
10    199.000000
11     99.000000
12    299.000000
13    145.457529
14     80.000000
15     32.000000
16    120.000000
17     60.000000
18     44.000000
19    180.000000
Name: price, dtype: float64 0     10.0
1      1.0
2      0.0
3     29.0
4      2.0
5      1.0
6      3.0
7      4.0
8      0.0
9      2.0
10     1.0
11     3.0
12     3.0
13     1.0
14     1.0
15     2.0
16     2.0
17     1.0
18     3.0
19    10.0
Name: minimum_nights, dtype: float64

C:\Users\nagal\AppData\Local\Temp\ipykernel_31128\2643493700.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(df['price'].mean(),inplace=True)
C:\Users\nagal\AppData\Local\Temp\ipykernel_31128\2643493700.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['minimum_nights'].fillna(0,inplace=True)

In [ ]:
#df=pd.read_csv(r"c:\Users\nagal\oneDrive\Desktop\data Analysis\Tableau\new_york.csv")
#df.fillna(df.mean(),inplace=True)
#mean_price=df['price'].mean()
#df['price']=df['price'].fillna(mean_price)
#print(df['price'].head(16))

0     225.000000
1      89.000000
2     200.000000
3      60.000000
4      79.000000
5     150.000000
6      85.000000
7      89.000000
8     120.000000
9     145.457529
10    199.000000
11     99.000000
12    299.000000
13    145.457529
14     80.000000
15     32.000000
Name: price, dtype: float64

In [117]:
#reading the json file
df_json=pd.read_json(r"C:\Users\nagal\Downloads\data.json")
print(df_json)

                                           Employees
0  {'userId': 'rirani', 'jobTitleName': 'Develope...
1  {'userId': 'nirani', 'jobTitleName': 'Develope...
2  {'userId': 'thanks', 'jobTitleName': 'Program ...

In [120]:
#reading the text file
df_text=pd.read_csv(r"C:\Users\nagal\Downloads\text.txt",delimiter='\t')
print(df_text)

             Utilitatis causa amicitia est quaesita.
0  Lorem ipsum dolor sit amet, consectetur adipis...
1  Quamquam id quidem licebit iis existimare, qui...

In [126]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [132]:
df_excel=pd.read_excel(r"C:\Users\nagal\Downloads\Syllabus2022-Hadoop-Spark-AWS-DEVOPS1 (2).xlsx")
print(df_excel)

    Unnamed: 0  Unnamed: 1                                         Unnamed: 2  \
0          NaN         NaN                                                NaN
1          NaN         NaN                                                NaN
2          NaN         NaN                                           Week One
3          NaN         NaN                                              Day 1
4          NaN         NaN                                      Introduction
..         ...         ...                                                ...
75         NaN         NaN                                2021-07-02 00:00:00
76         NaN         NaN                       Introduction to Apache NiFi
77         NaN         NaN                    Installing And Configuring NiFi
78         NaN         NaN  Important Concepts: FlowFile, Processor and Co...
79         NaN         NaN                               Nifi example usecase

                          Unnamed: 3           Unnamed: 4  \
0                                NaN                  NaN
1                                NaN                  NaN
2                           Week Two           Week Three
3                              Day 1                Day 1
4   Introduction, and install Hadoop  ZooKeeper explained
..                               ...                  ...
75                               NaN                  NaN
76                               NaN                  NaN
77                               NaN                  NaN
78                               NaN                  NaN
79                               NaN                  NaN

                                           Unnamed: 5  \
0                                                 NaN
1                                                 NaN
2                                           Week Four
3                                               Day 1
4   Spark Streaming concepts(DStream, Spark struct...
..                                                ...
75                                                NaN
76                                                NaN
77                                                NaN
78                                                NaN
79                                                NaN

                                           Unnamed: 6  \
0                                                 NaN
1                                                 NaN
2                                           Week Five
3   Airflow Installation, Airflow Webserver,Airflo...
4         Airflow executors,Airflow Xcom,Airflow hook
..                                                ...
75                                                NaN
76                                                NaN
77                                                NaN
78                                                NaN
79                                                NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                            Week Six
3                                               Day 1
4   AWS cloud Introduction,AWS account creation, c...
..                                                ...
75                                                NaN
76                                                NaN
77                                                NaN
78                                                NaN
79                                                NaN

                    Unnamed: 8
0                          NaN
1                          NaN
2                   Week Seven
3                        Day 1
4   Capstone Project Selection
..                         ...
75                         NaN
76                         NaN
77                         NaN
78                         NaN
79                         NaN

[80 rows x 9 columns]

In [129]:
import re

In [136]:
df["Cleaned_Names"] = df["neighbourhood"].str.replace(r"[^a-zA-Z\s]", "", regex=True)

# Display cleaned names
df[["neighbourhood", "Cleaned_Names"]].head()

        neighbourhood      Cleaned_Names
0             Midtown            Midtown
1            Brooklyn           Brooklyn
2                &%#@
3  Bedford-Stuyvesant  BedfordStuyvesant
4                1234

In [157]:
df=pd.read_csv(r"c:\Users\nagal\oneDrive\Desktop\data Analysis\Tableau\new_york.csv")
df["Cleaned_Names"] = df["neighbourhood"].str.replace(r"[^a-zA-Z\s]", "", regex=True)

# Display cleaned names
df[["neighbourhood", "Cleaned_Names"]].head()
df["Extracted_phones"]=df["phonenumber"].apply(lambda x: re.findall(r"\d+", str(x)))
df[["phonenumber","Extracted_phones"]].head(10)
#dropping a column
df=df.drop(columns=["phonenumber"])
#adding column
df["Category"] = df["price"].apply(lambda x: "Expensive" if x > 100 else "Cheap" )
df.to_csv(r"c:\Users\nagal\oneDrive\Desktop\data Analysis\Tableau\processed_new_york.csv", index=False)
print("Processed CSV file saved.")

Processed CSV file saved.

In [158]:
#Covert Json file to csv
df=pd.read_json(r"c:\Users\nagal\Downloads\data.json")
df.to_csv(r"c:\Users\nagal\Downloads\data.json")

In [161]:
#Convert csv file to json
df=pd.read_csv(r"C:\Users\nagal\OneDrive\Desktop\Data Analysis\Tableau\new_york.csv")
df.to_json(r"C:\Users\nagal\OneDrive\Desktop\Data Analysis\Tableau\new_york.json",orient="records",indent=4)

In [3]:
number=[1,2,3,4,5]
number[-1]=10
print(number[-1])

10